.user {

  &.user--full {
    position: relative;
    display: flex;
    justify-content: flex-start;

    .user__avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $white;
      border-radius: 10px;
      width: 200px;
      height: 200px;
      object-fit: contain;
      margin-right: 25px;

      img {
        display: block;
      }
    }

    .user__info {
      margin-top: 15px;

      span {
        display: block;
      }

      [class^="user__info__"] {
        margin-bottom: 10px;

        span:first-child {
          margin-bottom: 5px;
          font-weight: 700;
        }
      }
    }
  }
}
